.contactPage {
  color: white;
  .contactTitle {
    margin: 100px 0 0 0;
    @include lg {
      margin: 15px 0 0 0;
    }
  }
  .contactFirst {
    margin-left: 100px;
    @include lg {
      margin: 0 0 0 15px;
    }
  }
  .sizeAcolade {
    font-size: 120px;
    font-weight: 400;
    @include xl {
      font-size: 90px;
    }
    @include lg {
      font-size: 40px;
    }
  }
  h3 {
    font-size: 40px;
    margin-left: 30px;
  }
  .contactElBottom {
    margin-left: 112px;
    @include md {
      margin-left: 70px;
    }
  }
}

.contactPageContainer {
  display: flex;
  align-items: center;
  height: 80vh;
  @include xxl {
    height: auto;
    margin-top: 0;
  }
  @include lg {
    flex-direction: column;
  }
}
.contactPageLeftPart {
  animation: slide-in-bottom 1s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  font-size: 200px;
  font-weight: 700;
  margin-left: 15%;
  @include xxxl {
    font-size: 150px;
  }
  @include xxl {
    font-size: 90px;
  }
  @include xl {
    font-size: 90px;
  }
  @include lg {
    margin-left: 0;
    margin-top: 25px;
    font-size: 50px;
  }
  @include md {
    display: none;
  }
}
.contactElTop {
  display: flex;
  align-items: center;
}
.contactPageRightPart {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 15%;
  margin-left: 30%;
  @include xxxl {
    margin-left: 30%;
  }
  @include xxl {
    gap: 5%;
    margin-left: 30%;
  }

  @include lg {
    margin-left: 0;
    margin-top: 45px;
  }
  @include md {
    margin-top: 10px;

    gap: 10%;
  }
}
.spanContactLeftPart {
  color: $color-coral;
}
.pulseContainer {
  display: flex;
  align-items: center;
  p {
    margin-left: 10px;
  }
}
.socialContainer img {
  width: 80px;
  height: 80px;
  cursor: pointer;
  @include xxl {
    width: 40px;
    height: 40px;
  }
}

.contactBubble {
  position: absolute;
  top: -60px;
  right: -70px;
  width: 150px;
  height: 150px;
  @include xxxl {
    right: -50px;
    top: -30px;

    width: 110px;
    height: 110px;
  }
  @include xxl {
    width: 80px;
    height: 80px;
  }
  @include lg {
    width: 40px;
    height: 40px;
    right: -25px;
    top: -10px;
  }
}
.contactElContainer {
  animation: slide-in-bottom 1s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

@for $i from 1 through 10 {
  .contactElContainer:nth-child(#{$i}) {
    animation-delay: #{$i * 150ms};
  }
}

.contactElTop img {
  width: 80px;
  height: 80px;

  @include md {
    width: 40px;
    height: 40px;
  }
}
