.fslightbox-toolbar-button {
  width: auto !important;
}

.fslightbox-toolbar {
  background: none !important;
}
.fslightbox-toolbar-button:nth-child(1) {
  display: none !important;
}
.fslightbox-slide-btn {
  background: none !important;
}
.projectPage svg {
  width: 50px !important;
  height: 50px !important;
  min-width: 50px !important;
  min-height: 50px !important;
}
