@include sm {
  .navigationMobileBtn {
    position: fixed;
    bottom: 15px;
    left: 50%;
    z-index: 3;
    display: flex;
    width: 45px;
    height: 45px;
    border-radius: 100%;
    cursor: pointer;
    background-color: white;
    transform: translateX(-50%);
    align-items: center;
    justify-content: center;
  }
  .navigationMobileBtn span {
    width: 22px;
    height: 2px;
    background-color: $color1;
    display: flex;
    position: absolute;
    transition: 0.3s;
    display: flex;
  }
  .navigationMobileBtn span:nth-child(1) {
    top: 40%;
  }
  .navigationMobileBtn span:nth-child(2) {
    top: 60%;
  }

  .navigationMobileBtn.active span {
    background-color: $color1;
  }
  .navigationMobileBtn.active span:nth-child(1) {
    top: 50%;
    transform: rotate(-45deg);
  }
  .navigationMobileBtn.active span:nth-child(2) {
    top: 50%;
    transform: rotate(45deg);
  }

  .navigationMobile {
    background-color: $color1;
    position: absolute;
    width: 100%;
    height: 100vh;
    transition: 0.3s;
    display: flex;
    z-index: 2;
    transition: 0.3s;
    opacity: 0;
    visibility: hidden;
    padding-top: 40px;
  }
  .navigationMobile.active {
    opacity: 1;
    visibility: visible;
  }
  ul {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }
  .textMobile {
    position: relative;
    display: inline-flex;
    font-size: 68px;
    color: white;
    text-transform: uppercase;
  }
  .textMobile:after {
    content: "";
    position: absolute;
    bottom: 30px;
    height: 5px;
    left: 0;
    width: 0;
    display: inline-flex;
    background-color: yellow;
    transition: 0.3s;
  }
  .textMobile:hover:after {
    width: 100%;
  }
}
.activeMobile .textMobile:after {
  content: "";
  position: absolute;
  bottom: 30px;
  height: 5px;
  left: 0;
  width: 100%;
  display: inline-flex;
  background-color: yellow;
}
