.projectPage {
  color: $color-white;

  .projectContainer {
    display: flex;
    justify-content: center;
    margin-top: 200px;
    @include xxl {
      margin-top: 100px;
    }
    @include md {
      margin-top: 40px;
    }
  }
  ul {
    width: 70%;
    margin-bottom: 200px;
    @include xxxl {
      width: 80%;
    }
    @include xxl {
      width: 85%;
    }
    @include xl {
      width: 90%;
    }
  }
  .projectLeftPart {
    display: flex;
  }
  li {
    animation: slide-in-bottom 1s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
    border-bottom: 1px solid $color-white;
    display: flex;
    justify-content: space-between;
    cursor: pointer;
    transition: $transition-time;
    margin-top: 20px;
    width: 100%;

    &:hover {
      border-bottom: 1px solid $color-secondary;
      .projectTitle {
        color: $color-secondary;
      }
      .outilCard {
        color: black;
        background-color: $color-secondary;
        border: 1px solid $color-secondary;

        &:hover {
          transform: scale(1.04);
          transition: $transition-time;
        }
      }
      svg path {
        fill: $color-secondary;
        transition: $transition-time;
      }
      .projectPicture {
        filter: grayscale(0);
        transition: $transition-time;
      }
    }
  }
  .projectPicture {
    width: 400px;
    height: 180px;
    filter: grayscale(100%) brightness(50%);
    transition: $transition-time;
    border-radius: 10px;
  }

  .projectPicture img {
    min-width: 400px;
    min-height: 180px;
  }
  .outilsCardContainer {
    display: flex;
    align-items: center;
    gap: 20px;
    margin-bottom: 20px;
    flex-wrap: wrap;
  }

  .outilCard {
    display: flex;
    border: 1px solid $color-white;
    padding: 7px 18px 7px 18px;
    border-radius: 20px;
    transition: $transition-time;
    text-transform: uppercase;
    font-weight: 500;
    background-color: $color1;
    color: white;
  }
  .outilPic {
    width: 15px;
    height: 15px;
  }
  .projectTitle {
    transition: $transition-time;
    text-transform: uppercase;
    font-size: 30px;
    font-weight: 500;
    margin-bottom: 20px;
    margin-top: 15px;
    @include md {
      font-size: 20px;
    }
  }

  svg {
    width: 140px;
    height: 140px;
    min-width: 140px;
    min-height: 140px;
    transition: $transition-time;
    margin-left: 30px;
    @include xxxl {
      width: 120px;
      height: 120px;
      min-width: 120px;
      min-height: 120px;
    }
    @include xxl {
      width: 100px;
      height: 100px;
      min-width: 100px;
      min-height: 100px;
    }
    @include xl {
      width: 80px;
      height: 80px;
      min-width: 80px;
      min-height: 80px;
      margin-left: 0px;
    }
    @include md {
      width: 50px;
      height: 50px;
      min-width: 50px;
      min-height: 50px;
    }
  }
  svg path {
    transition: $transition-time;
  }
  .projectContent {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    transition: $transition-time;
  }
  .projectMission {
    font-size: 18px;
    font-weight: 300;
    margin-bottom: 30px;
    text-align: justify;
    @include lg {
      font-size: 16px;
    }
    @include md {
      font-size: 15px;
    }
  }
}

@for $i from 1 through 10 {
  li:nth-child(#{$i}) {
    animation-delay: #{$i * 100ms};
  }
}
