@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;1,100;1,300;1,400&display=swap");

// Variables
$color-white: #fff;
$color-coral: rgb(255, 238, 0);
$transition-time: 0.3s;
$color1: #151515;
$color2: rgb(255, 60, 0);
$color3: white;

* {
  font-family: "roboto", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
a {
  text-decoration: none;
  color: inherit;
}

ul,
ol {
  list-style: none;
  padding: 0;
  margin: 0;
}
html {
  background-color: $color1;
}
@media (min-width: 401px) {
  .navigationMobileContainer {
    display: none;
  }
}
.pageTitle {
  cursor: default;
  color: white;
  font-size: 120px;
  text-transform: uppercase;
  margin: 100px 0 0 100px;
  display: inline-flex;
  position: relative;
  font-weight: 200;
  @include xxl {
    font-size: 90px;
  }
  @include lg {
    font-size: 40px;
    font-weight: 300;

    margin: 15px 0 0 15px;
  }
}

.pageTitle:after {
  content: "";
  position: absolute;
  bottom: 40%;
  height: 11px;
  left: 0;
  width: 0;
  display: inline-flex;
  background-color: $color-coral;
  transition: 0.3s;
  @include xl {
    height: 8px;
  }
  @include lg {
    height: 6px;
  }
}
.pageTitle:hover:after {
  width: 100%;
}
.pointTitle {
  font-size: 100px;
  font-weight: 600;
  @include xxl {
    font-size: 90px;
    font-weight: 500;
  }
  @include lg {
    font-size: 40px;
    font-weight: 400;
  }
}
.nexttitle {
  animation: growUp 2s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  color: $color-coral;
}
.nexttitleSkillsLeft {
  font-size: 100px;
  margin-left: 100px;
  @include xl {
    font-size: 90px;

  }
  @include lg {
    font-size: 40px;
    margin: 0 0 0 15px;
  }
}
.nexttitleSkillsRight {
  font-size: 100px;
  @include xl {
    font-size: 90px;
  }
  @include lg {
    font-size: 40px;
  }

  }
